.featuredItemWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
  color: white;
  position: relative;
  width: 60vw;
  min-height: 60vw;
  background: black;
  background-image: url(https://images.unsplash.com/photo-1570689594608-cca1df2152c7?ixlib=rb-1.2.1&auto=format&fit=crop&w=715&q=80);
}
.featuredItemWrap > * {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  z-index: 10;
  position: relative;
  color: transparent;
}
.featuredItemWrap:hover > * {
  color: white;
  font-size: 2em;
  transition: color 0.2s ease-in-out;
}
.featuredItemWrap:hover {
  cursor: pointer;
}
.featuredItemWrap::after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}
@media screen and (min-width: 768px) {
  .featuredItemWrap {
    width: 30vw;
    min-height: 30vw;
    // background: black;
  }
}
