#trackOrderWrap {
  padding: 2em;
  margin: 2em 7vw;
  border: solid 1px #bebebe80;
  min-height: 80vh;
}
#trackOrderForm {
  display: flex;
  justify-content: center;
}
#trackOrderInput {
  padding: 0.6em 1.2em;
}
#trackOrderSubmit {
  background-color: slateblue;
  border: solid 2px slateblue;
  color: white;
  font-weight: 600;
  padding: 0.6em 1.2em;
}
