#featuredWrap {
  padding: 2em 0em;
  min-height: 100vh;
  max-width: 86vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  #featuredWrap {
    max-width: 86vw;
    flex-direction: row;
  }
}
