#cartPageWrap {
  min-height: 100vh;
  width: 86vw;
  display: block;
  margin-left: 7vw;
  padding: 3em 0em;
}
#cartPageHeading {
  margin-bottom: 1em;
}
#checkoutBtn {
  font-size: 0.9em;
  padding: 1em 2em;
  margin-top: 2em;
  color: white;
  font-weight: 600;
  border: none;
  background-color: #386fd4;
}
#returnCustomer {
  padding: 1em 2em;
  margin-top: 2em;
  font-weight: 600;
  border: solid 1px #386fd4;
  background-color: white;
}
#returnCustomer.routerLink {
  color: #386fd4;
  font-size: 0.9em;
}
// #continueShopping {
//   background-color: transparent;
//   border: none;
// }
#continueShopping.routerLink {
  font-size: 0.9em;
  padding: 1em 2em;
  color: white;
  font-weight: 600;
  border: none;
  background-color: #386fd4;
  margin-top: 3em;
}
#cartSubtotal {
  margin-top: 1em;
}
#cartTotalSection {
  display: flex;
  flex-direction: column;
}
